/* global styles */

:root {
    --light: #ededed;
    --gray-md: #aeafaf;
    --gray-dark: #6f6866;
    --dark: #222;
    --blue-dk: #003049ff;
    --blue-md: #0dcaf0;
    --red: rgb(209, 83, 83);
    --orange: #f77f00ff;
    --yellow: #fcbf49ff;
    --yellow-lt: #eae2b7ff;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
}

h4 {
    text-transform: lowercase;
}

h4::first-letter {
    text-transform: uppercase
}

.btn-warning, .btn-info {
    color: white;
}

.btn-warning:hover, .btn-info:hover {
    color: white;
}

.card-body {
    flex: 0 0 0;
}

.card-footer {
    background-color: white;
}

.logo-img {
    max-width: 500px;
}

.text-white {
    color: white;
}

footer {
    border-top: 1px solid var(--light);
}

footer a {
    color: var(--blue-md) !important;
    text-decoration: none;
}

footer a:hover {
    color: var(--blue-dk) !important;
    text-decoration: none;
}